@use "styles" ;

button {
  background-color: transparent;
  border: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  height: 5rem;
  list-style-type: none;
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0;
  margin: 0;
  text-wrap: nowrap;
}

object {
  width: 2.5rem;
  height: auto;
}

.horizontalNavigation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.horizontalLi {
  display: none;
}

.logoDiv {
  height: 100%;
  display: flex;
  align-items: center;
}

.logoImg {
  height: 80%;
  -o-object-fit: contain;
  object-fit: contain;
  width: auto;
}

.logoListItem {
  display: block;
}

.rightAlignedDiv {
  margin-left: auto;
}

.BurgerMenuHorizontal {
  display: flex;
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }

  button {
    cursor: pointer;
  }
}

.close {
  cursor: pointer;
}

.sideBar {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  top: 0;
  padding: 1.5rem;
  transform: translateX(100vw);
  z-index: 999;
  background: var(--Background);
  width: calc(100vw - 3rem);
  height: calc(100% - 3rem);
  overflow-y: hidden;
  position: absolute;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s;
}

.sideBar.open {
  visibility: visible;
  transform: translateX(0);
  right: 0;
  left: 0;
}

.verticalLi {
  display: flex;
}

.bottomAlignedDiv {
  margin-top: auto;
}

@include styles.respond-from(md) {
  .BurgerMenuHorizontal {
    display: none;
  }

  .horizontalLi {
    display: none;
  }

  .sideBar {
    display: flex;
  }
}
