@use 'styles' as *;

.loginPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1.5rem;
  background: var(--Background);
}

.login__form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1rem;
  width: 100%
}

.login__reset-password {
  color: var(--Text);
}

.login__button-container {
  display: flex;
  flex-grow: 1;
  justify-content: end;

  button {
    width: 50%;
  }
}

.loginRoundedImage {
  display: none;
  min-height: 100vh;
  height: 100%;
  width: 50%;
  background: white;
}

@include respond-from(lg) {
}

@include respond-from(md) {
  .loginRoundedImage {
    display: flex;
  }
}

@include respond-from(sm) {
}

@include respond-from(xs) {
}
