@use 'styles' as *;

.container {
  min-height: calc(100vh - 16px - 4.5rem);
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: 4.5rem;
}

.navigation {
  width: 100%;
}

.loginRoundedImage {
  display: none;
  min-height: 100vh;
  height: 100%;
  width: 50%;
  background: white;
}

.login {
  display: flex;
  inset: 0;
  width: calc(100% - 48px);
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  padding: 1.5rem 1.5rem 3rem;
  background: var(--Background);
}

.login__form {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1rem;
  width: 100%
}

.rounded-image {
  display: none;
}

.login__password-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem
}

.login__reset-password {
  color: var(--Text);
  font-size: 0.9rem;
  text-decoration: none;
}

.login__button-container {
  display: flex;
  flex-grow: 1;
  justify-content: end;

  button {
    width: 50%;
  }
}


.signup {
  padding: 1.5rem 1.5rem 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.signup__button {
  width: 50%;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}

@include respond-from(xs) {
  .login {
    width: 70%;
  }

  .signup {
    width: 70%;
  }

  .signup__button {
    width: 100%;
  }
}

@include respond-from(sm) {
}

@include respond-from(md) {
  .loginRoundedImage {
    display: flex;
  }
}

@include respond-from(lg) {
}



