@use 'styles' as *;

.loginPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  background: var(--Background);
  gap: 0.5rem;
}

.login__form {
  display: flex;
  gap: 1rem;
  flex-grow: 1;
  flex-direction: column;

}

.loginRoundedImage {
  display: none;
  min-height: 100vh;
  height: 100%;
  width: 50%;
  background: white;
}

@include respond-from(lg) {
}

@include respond-from(md) {
  .loginRoundedImage {
    display: flex;
  }
}

@include respond-from(sm) {
}

@include respond-from(xs) {
}
