<div class="container">
  <NavigationBar></NavigationBar>
  <div class="rounded-image"></div>

  <div class="login">
    <h2>{{ 'LogIn' | transloco }}</h2>
    <form [formGroup]="loginForm" class="login__form">
      <Textinput [label]="'Email' | transloco">
        <input #input id="email" type="text" formControlName="email">
      </Textinput>
      <div class="login__password-container">
        <Textinput [label]="'Password' | transloco" [password]="true">
          <input #input id="password" type="password" formControlName="password"/>
        </Textinput>
        <a href="" class="login__reset-password">{{ 'ResetPassword' | transloco }}</a>
      </div>
      <div class="login__button-container">
        <button type="button" class="login__login-button" (click)="submitLogin()">{{ 'LogIn' | transloco }}</button>
      </div>
    </form>
  </div>
  <div class="signup">
    <button class="signup__button">{{ 'SignUp' | transloco }}</button>
  </div>
</div>
