<div class="container">
  <NavigationBar class="navigation"></NavigationBar>
  <div class="content">
    <div class="rounded-image">
      <img class="rounded-image__image" ngSrc="/assets/images/ding-dong3.jpg" width="3872" height="2592" alt="Rounded Image">
    </div>

    <div class="login-signup-container">
      <div class="login">
        <h2>{{ 'LogIn' | transloco }}</h2>
        <form [formGroup]="loginForm" class="login__form">
          <Textinput [label]="'Email' | transloco" type="text">
            <input #input id="email" type="text" formControlName="email">
          </Textinput>
          <div class="login__password-container">
            <Textinput [label]="'Password' | transloco" [password]="true" type="password">
              <input #input id="password" type="password" formControlName="password"/>
            </Textinput>
            <a href="" class="login__reset-password">{{ 'ResetPassword' | transloco }}</a>
          </div>
          <Textinput label="Test" type="checkbox">
            <input #input type="checkbox">
          </Textinput>
          <div class="login__button-container">
            <button type="button" class="login__login-button" (click)="submitLogin()">{{ 'LogIn' | transloco }}</button>
          </div>
        </form>
      </div>
      <div class="signup">
        <button class="signup__button" (click)="fetchProtectedData()">{{ 'SignUp' | transloco }}</button>
      </div>
    </div>
  </div>
</div>
