.image-carousel {
  height: 100vh;
  width: 100%;
  position: relative;


  &__welcome {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


    &__title {
      font-size: 2rem;
      font-weight: 400;
      display: inline-flex;
      color: var(--Text);
      margin: 1rem;
      max-width: 80%;
      text-align: center;
    }

    &__divider {
      border-radius: 100px;
      height: 2px;
      width: 50%;
      background: var(--Text);
    }

    &__logo {
      margin-top: 1rem;
      aspect-ratio: 2150 / 687;
      max-width: 80%;
      height: auto;
    }
  }

  &__scroll-down {
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 15%;
    z-index: 1;
    display: flex;
    flex-direction: column;

    &__chevron {
      max-height: 2rem;
      height: auto;
    }
  }
}
