<div class="image-carousel">
  <ImageCarousel [darkened]="true" [manualSwap]="false"></ImageCarousel>
  <div class="image-carousel__welcome">
    <h1 class="image-carousel__welcome__title">
      {{ 'welcomeTo' | transloco }}
    </h1>
    <div class="image-carousel__welcome__divider"></div>
    <img class="image-carousel__welcome__logo" priority ngSrc="/assets/images/Logo_Light_Big.png" alt="HomepageLogo" height="687" width="2150">
  </div>
  <button class="image-carousel__scroll-down" (click)="scrollToNavbar()">
    <img class="image-carousel__scroll-down__chevron" src="assets/svg/Chevron.svg" [alt]="'scrollDownChevron' | transloco">
    <img class="image-carousel__scroll-down__chevron" src="assets/svg/Chevron.svg" [alt]="'scrollDownChevron' | transloco">
  </button>
</div>
<div class="homepage">
  <div class="homepage__navbar">
    <NavigationBar id="NavigationBar"></NavigationBar>
  </div>
  <div class="homepage__section-header">
    <h2 class="homepage__section-header__title">{{ 'featuredProducts' | transloco }}</h2>
    <div class="homepage__section-header__divider"></div>
  </div>
</div>
