@keyframes jump {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(10px); }
  60%  { transform: translateY(0); }
  100% { transform: translateY(0); }
}

.image-carousel {
  height: 100dvh;
  width: 100%;
  position: relative;

  &__welcome {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: 2rem;
      font-weight: 400;
      display: inline-flex;
      color: var(--Text);
      margin: 0 1rem 1rem;
      max-width: 80%;
      text-align: center;
    }

    &__divider {
      border-radius: 100px;
      height: 2px;
      width: 50%;
      background: var(--Text);
    }

    &__logo {
      margin-top: 1rem;
      aspect-ratio: 2150 / 687;
      max-width: 80%;
      height: auto;
    }
  }

  &__scroll-down {
    width: 30vw;
    justify-content: center;
    position: absolute;
    bottom: 15%;
    left: 35vw;
    z-index: 1;
    display: flex;
    flex-direction: column;
    animation: jump 1.5s ease-in-out infinite;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    border: 0;
    padding: 0;

    &__chevron {
      max-height: 2rem;
      height: auto;
    }
  }
}

.homepage {
  width: calc(100% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  gap: 3.5rem;

  &__navbar {
    width: 100%;
    margin-top: 0.25rem;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    &__header {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;

      &__title {
        margin: 0 0 0.5rem;
      }

      &__divider {
        height: 2px;
        margin-top: 0.5rem;
        width: 25%;
        background: var(--Main)
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &__about-me-text {
        text-align: center;
      }
    }

    &__about-me {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      &__text {
        text-align: center;
      }

      &__button {
        width: 100%;
      }
    }
  }
}
