<div class="text-input">
  <label class="text-input__label" [class.text-input__label--floating]="isFocused || hasValue">{{ label }}</label>
  <ng-content></ng-content>
  <div *ngIf="password" class="text-input__show-password">
    <button *ngIf="showPassword" (click)="handleShowPassword()" class="text-input__show-password--show">
      <img ngSrc="/assets/svg/Eye__shut.svg" [alt]="'ShowPassword' | transloco " height="19" width="40">
    </button>
    <button *ngIf="!showPassword" (click)="handleShowPassword()" class="text-input__show-password--hide">
      <img ngSrc="/assets/svg/Eye__open.svg" [alt]="'HidePassword' | transloco " height="25" width="40">
    </button>
  </div>
</div>
