@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$breakpoints: (
  xs: 480px,
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px
);

:root {
  --Main: #A5BCD5;
  --Text: rgb(234, 234, 234);
  --Text80: rgba(234, 234, 234, 60);
  --PageBackground: #1A1A1A;
  --Background: #2a2a2a;
  --Accent1: #85A1C5;
  --Accent2: #DC58E7;
  --Accent3: #1F93B4;
}


body, html {
  background-color: var(--PageBackground);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Raleway sans-serif;
}

p {
  color: var(--Text);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1 {
  color: var(--Main);
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h2 {
  font-family: Raleway, sans-serif;
  color: var(--Main);
  background: transparent !important;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

label {
  font-family: Raleway sans-serif;
}

input {
  padding: 0.625rem 0.8125rem;
  flex-grow: 1;
  border: 3px solid var(--Main);
  background-color: transparent;
  border-radius: 0;
  font-family: Raleway sans-serif;
  color: var(--Text) !important;
  font-size: 1rem;
  outline: none;

  &:focus-visible {
    border: red 3px solid !important;
  }

  &::placeholder {
    color: var(--Text80)
  }
}

@mixin respond-from($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $min-width: map-get($breakpoints, $breakpoint);
    @media screen and (min-width: $min-width) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint: #{$breakpoint}.";
  }
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 8px 16px;
}

@include respond-from(xs) {
}

@include respond-from(sm) {
}

@include respond-from(md) {
}

@include respond-from(lg) {
}

@include respond-from(xl) {
}
