@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Main: #85A1C5;
  --Text: #EAEAEA;
  --PageBackground: #1A1A1A;
  --Background: #2a2a2a;
  --Accent1: #85A1C5;
  --Accent2: #DC58E7;
  --Accent3: #1F93B4;
}

body, html {
  background-color: var(--PageBackground);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

p {
  color: var(--Text);
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h1 {
  color: var(--Main);
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h2 {
  font-family: Raleway, sans-serif;
  color: var(--Main);
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
